*{
    margin: 0;
    border: border-box;
    font-family: Arial;
    
}
.navbar
{
    height: 60px;
    background-color:	#000000 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo
{    display: flex;
    align-items: center;
     height: 50px; 
    border: 1.5px solid transparent;
    margin-right:30px ;
    margin-left:15px ;
}
.logo:hover
{
   border: 1.5px solid white;
}
.logo{
  padding-top: 15px;
  padding-left: 5px;
}
.nav-address
{
    color: white;
    border: 1.5px solid transparent;
    width: 70px;
    margin-right: 20px;
    
    
}

.to
{
    font-size: 12px; 
    position: relative;
    left: 13px;
    color: #f2f2f2;
    

}
.nav-address:hover
{
    border: 1.5px solid white;
}
.country
{
    font-size: 15px;
    font-weight: bolder;
}
.dropdown
{
    height: 40px;
    width:50px ;
    /* border-radius: 4px; */
    /* border-top:1.5px solid white ;
    border-left:1.5px solid white ;
    border-bottom:1.5px solid white ;
    border-radius: 5px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
    position: relative;
    left: 1px;
}
.nav-search
{
    display: flex;
    border: none;
    margin-left: 10px;
    /* background-color: white; */
    /* border-radius: 4px; */
}
.search-bar
{
    height: 34.8px;
    width: 750px;
    font-size: 1rem;
    /* border: none; */
}
.search-icon{
/* {  display: flex;
    align-items: center; */
    background-color:	#FEBD69 ;
    width: 50px;
    height: 40.6px;
    /* margin-right: 19px; */
    /* border-radius: 4px; */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    bottom: 1px;
    /* right: 1.9px; */
    font-size: 20px;
    border: none;
    
}
.language
{
    color: grey;
    background-color: black;
    border: none;
    position: relative;
    
    width: 20px;
}
.flag{ position: relative;
    margin-left: 19px;
    

}
.nav-language
{
    /* border: 1.5px solid transparent;
    height: 40px; */
    display: flex;
    align-items: center;
    height: 40px;
    top: 10px;
    margin-right: 13px;
}
.nav-language:hover{
    border: 1.5px solid white;
    
   
}
.nav-account
{
    color: white;
    margin-left: 30px;
    border: 1.5px solid transparent;
}
.account{
    display: flex;
    font-weight: bolder;
}
.account-list
{
    border: none;
    color: grey;
    background-color: #000000;
    width: 20px;
}
.sign-in
{
    font-size: 10px;
    position: relative;
    left: 13px;
}
.nav-order
{
    color: white;
    margin-left: 17px;
    border: 1.5px solid transparent;
}
.return
{
    font-size: 10px;
    position: relative;
    left: 5px;
}
.order
{   font-size:19 ;
    font-weight: bolder;
}
.nav-cart
{ color: white;
    margin-left: 30px;
    /* font-size: 20px; */
    font-size: 13px;
    border: 1.5px solid transparent;
    font-weight: bold;

}
.nav-cart:hover
{
    border: 1.5px solid white;
}
.nav-order:hover
{
    border: 1.5px solid white;
}
.nav-account:hover
{
    border: 1.5px solid white;
}
.midbar
{
  background-color: #232f3e;
  height: 39px;
  display: flex;
  align-items: center;
  color: white;
}
.mid-account
{
    color: WHITE;
    font-size: 14px;
    margin-left:14px ;
    font-weight: lighter;
    border: 1.5px solid transparent;
}
.mid-account:hover{
    border: 1.5px solid white;
}
.today
{
    font-size: 14px;
    margin-left: 25px;
    border: 1.5px solid transparent;
}
.service
{
    margin-left: 25px;
    font-size: 14px;
    border: 1.5px solid transparent;
}
.registry
{
    margin-left: 25px;
    font-size: 14px;
    border: 1.5px solid transparent;
}
.gift
{
    margin-left: 25px;
    font-size: 14px;
    border: 1.5px solid transparent;
}
.sell
{
    margin-left: 25px;
    font-size: 14px;
    border: 1.5px solid transparent;
}
.exciting
{
    position: absolute;
    right: 20px;
    font-size: 14px;
    border: 1.5px solid transparent;
}
.exciting:hover{
    border: 1.5px solid white;
}
.sell:hover{
    border: 1.5px solid white;
}
.gift:hover{
    border: 1.5px solid white;
}
.registry:hover{
    border: 1.5px solid white;
}
.service:hover{
    border: 1.5px solid white;
}
.today:hover{
    border: 1.5px solid white;
}
/* .main-page
{
    /* background-image: url(https://m.media-amazon.com/images/I/71Tfszeu0DL._SX3000_.jpg);
    background-size: cover; */
    /* height: 600px;
    width: 1500px; */
 
.c1
{
    display: flex;
}
/* .box1
{
    height: 460px;
    width: 330px;
    background-color: white;
    display: flex;
    align-items: center;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v3._SY304_CB573698005_.jpg);
    background-size: cover;
} */
.en{ color: white;
font-size: 5px;
}
.nav-search:hover{
    border: 1.5px solid #ff9900 ;
    border-radius: 4px;
}
.nav-cart i{
   font-size: 24px;
}
.hero
{
    background-image:url(https://m.media-amazon.com/images/I/61K28C55p4L._SX3000_.jpg) ;
    background-size: cover;
    height: 330px;
    width: 1520px;
    /* display: flex; 
    display: flex;
    justify-content: flex-end; */
}
.hero-message
{
   display: flex; 
   background-color: #f2f2f2;
   height: 40px;
   width: 1350px;
   display: flex;
   align-items: center; 
     justify-content: center;  
   position: relative;
    top: 266px; 
   left: 70px;
   
   font-family: Arial;
}
/* .message
{
    position: absolute;
    left: 270px;
}
.message-link
{position: absolute;
    right: 257px;
} */
.link-message
{
    color: #007185;
    text-decoration: none;
}  
.box
{
    /* border: 2px solid black; */
    width:23%;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 1px;
    
    background-color: #f2f2f2;
} 
.shopping1
{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
} 
.a1-img
{   background-image: url(/teddy3.jpg);
    background-size: cover;
    
    font-size: 21px;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;
       /* align-self: center; */
}
.a1-content
{
   margin-left: 10px;
}
.a1-addition
{
    color: #007185;
    font-size: 18px;
}
.a2-img
{
    background-image: url(/pc1.jpg);
    background-size: contain;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.a2-content
{
    padding-left: 10px;
}
.a2-addition
{
    color: #007185;
    font-size: 18px;
}
.a3-img{
    background-image: url(/decore1.jpeg);
    background-size: cover;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.a3-content
{
    padding-left: 10px;
}
.a3-addition
{
    color: #007185;
    font-size: 18px;
}
.a4-img
{
    background-image: url(/sport1.jpg);
    background-size: cover;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}
.a4-content
{
    padding-left: 10px;
}
.a4-addition
{
    color: #007185;
    font-size: 18px;
}
.shopping2
{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
} 
.b1-img
{   background-image: url(/dead3.jpeg);
    background-size: cover;
    
    font-size: 21px;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;
       /* align-self: center; */
}
.b1-content
{
   margin-left: 10px;
}
.b1-addition
{
    color: #007185;
    font-size: 18px;
}
.b2-img
{
    background-image: url(https://5.imimg.com/data5/SELLER/Default/2022/11/US/FF/BI/163389923/984fa95160854904b7fdeeffaa97e94aur-w1000-q90-500x500.jpg);
    background-size: cover;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.b2-content
{
    padding-left: 10px;
}
.b2-addition
{
    color: #007185;
    font-size: 18px;
}
.b3-img{
    background-image: url(https://media.istockphoto.com/id/518854044/vector/sales-concept.jpg?s=612x612&w=0&k=20&c=43sACE6m7-9UnVwunSvKN_1TFIBelnf8E7Kg1M27yBI=);
    background-size: cover;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.b3-content
{
    padding-left: 10px;
}
.b3-addition
{
    color: #007185;
    font-size: 18px;
}
.b4-img
{
    background-image: url(/s24.jpg);
    background-size: cover;
    height: 350px;
    width: 330px;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}
.b4-content
{
    padding-left: 10px;
}
.b4-addition
{
    color: #007185;
    font-size: 18px;
}
.space
{
    height: 25px;
    background-color: #e2e7e6;
    border: none;
}
.pannel1
{
    background-color: #37475A;
    height: 49px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}
.pannel2
{
    height: 370px;
    background-color:#232F3E;
    display:flex;  
    color: white;
    justify-content: space-around;
    
    font-family: Arial;
    margin-bottom: 0.8px;
    border-color: gray;
    
}
.back
{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.border:hover{
    border-bottom: 0.7px solid white;
}
.heading
{
 font-weight: bold;
 padding-top: 6px;
 padding-bottom: 14px;
 font-size: 16px;
}
.border 
{
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    font-weight: lighter;
    color: #dddddd;
}
.margin
{
    margin-top: 40px;
    display: flex;
    
}
.section1
{
  margin-right: 100px;
}
.section2
{
  margin-right: 100px;
}
.section3
{
  margin-right: 100px;
}

.pannel3
{    background-color:#232F3E;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: lighter;
}
.border2
{    height: 15px;
    margin-right: 9px;
    border: 1.5px solid grey;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    padding: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #cccccc;
}
.foot-logo
{
    margin-right: 90px;
    position: relative;
    top: 9px;
    height: 40px;
}
.foot-lang{
    width: 106px;
}
.dollar
{
    width: 140px;
}
.us-flag
{
    width: 130px;
}
.pannel4
{
    height: 570px;
    background-color: #131A22;
    color: white;
    padding-top: 30px;
}
.port1
{display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 40px;
    
  
}
.x1
{
    height: 68px;
    width: 72px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.x2
{
    
    height: 54px;
    width: 70px;
    /* padding-left:9px ;
    padding-right:9px ; */
    margin-right: 67px;
}
.x3
{
    height: 42px;
    width: 100px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.x4
{
    height: 41px;
    width: 52px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.x5
{
    height: 41px;
    width: 90px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.x6
{
    height: 67px;
    width: 153px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.x7
{
    height: 67px;
    width: 123px;
    padding-left:9px ;
    padding-right:9px ;
}

.a:hover
{
    border: 1px solid white;
}
.port2
{display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 40px;
    
  
}
.y1
{
    height: 68px;
    width: 72px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.y2
{
    
    height: 54px;
    width: 70px;
    /* padding-left:9px ;
    padding-right:9px ; */
    margin-right: 67px;
}
.y3
{
    height: 42px;
    width: 100px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.y4
{
    height: 41px;
    width: 52px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.y5
{
    height: 41px;
    width: 90px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.y6
{
    height: 67px;
    width: 153px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.y7
{
    height: 67px;
    width: 123px;
    padding-left:9px ;
    padding-right:9px ;
}
.port3
{display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 40px;
}
.z1
{
    height: 68px;
    width: 72px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.z2
{
    
    height: 54px;
    width: 70px;
    /* padding-left:9px ;
    padding-right:9px ; */
    margin-right: 67px;
}
.z3
{
    height: 42px;
    width: 100px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.z4
{
    height: 41px;
    width: 52px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.z5
{
    height: 41px;
    width: 90px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.z6
{
    height: 67px;
    width: 153px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.z7
{
    height: 67px;
    width: 123px;
    padding-left:9px ;
    padding-right:9px ;
}
.port4
{display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 40px;
}
.k1
{
    height: 68px;
    width: 72px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.k2
{
    
    height: 54px;
    width: 70px;
    /* padding-left:9px ;
    padding-right:9px ; */
    margin-right: 67px;
}
.k3
{
    height: 42px;
    width: 100px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.k4
{
    height: 41px;
    width: 52px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.k5
{
    height: 41px;
    width: 90px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.k6
{
    height: 67px;
    width: 153px;
    padding-left:9px ;
    padding-right:9px ;
    margin-right: 67px;
}
.k7
{
    height: 67px;
    width: 123px;
    padding-left:9px ;
    padding-right:9px ;
}
.main{ color: white;
    font-weight: bolder;
   }
.line1
{font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    font-size: 12px;
     font-weight: bold;
     margin-bottom: 10px;
}
.ending
{
    margin-right: 20px;
}
.line2
{   font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
     font-weight: bold;
     margin-bottom: 10px;
}
.tar:hover{
    border-bottom: 1px solid white;
}




